* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Futura Renner";
    /* src: url("/font/FuturaRenner-Light.oet"); */
    src:   url("/font/FuturaRenner-Light.oet") format('embedded-opentype'),
        url("/font/FuturaRenner-Light.woff") format('woff'),
        url("/font/FuturaRenner-Light.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}


body {
    /* overflow-x: hidden; */
    height: 5000px;
    font-size: 15px;
    overflow-x: hidden;
    width: 100vw;

    background-color: rgba(235, 11, 11, 0);

}

html::-webkit-scrollbar {
    width: 8px;
    background: #000;
}

html::-webkit-scrollbar-thumb{
    background: rgb(80, 73, 73);
    border-radius: 0.5rem;
    width: 0.5rem;
    border: 1px solid #000;
}

html::-webkit-scrollbar-track-piece {
    width: 10px;
}


html::-webkit-scrollbar-button {
    display: none;
}

main{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-image: url('background_pattern.jpg')
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 30rem;
    margin: 0 auto;
    gap: 5rem;
    opacity: 0;
    animation: onStart 800ms ease-in-out 150ms forwards;
}

.container img {
    height: 30rem;
}

.bleu-rouge{
    height: 30rem;
}

.bleu-rouge img:first-child{
    position: absolute;
}

#cherif4 {
    aspect-ratio: 1 / 1;
    /* margin-bottom: 20rem */
}

.poster {
    margin-left: 40rem;
    height: 100vh;
    /* overflow: hidden; */
}

.poster-wrapper {
    display: flex;
    height: 100vh;
    aspect-ratio: 361 / 512;
    overflow-x: hidden;
    position: relative;
    align-items: center;
}

.poster-anime-container {
    display: flex;
    height: 100%;
    position: absolute
}

.poster img {
    height: unset;
}

h2{
    color: white;
    font-family: 'Migra' ;
    font-size: 6rem;
    width: 100%;
    text-align: center;

    display: flex;
    align-items: center;
}

.poster h2 > img {
    height: 6rem;
}

@keyframes onStart {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}