* {
    margin: 0;
    padding: 0;
}

    @font-face {
     font-family: "Futura Renner";
     /* src: url("/font/FuturaRenner-Light.oet"); */
     src:   url("/font/FuturaRenner-Light.oet") format('embedded-opentype'),
            url("/font/FuturaRenner-Light.woff2") format('woff2'),
            url("/font/FuturaRenner-Light.woff") format('woff'),
            url("/font/FuturaRenner-Light.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
    }


body {
    /* overflow-x: hidden; */
    height: 8200px;
    font-size: 15px;
}

main{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: #A5FF19;
    background-image: url('background_pattern.jpg')
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 30rem;
    margin: 0 auto;
    gap: 5rem;
    opacity: 0;
    animation: onStart 800ms ease-in-out 150ms forwards;
}

.container img {
    height: 30rem;
}

.bleu-rouge{
    height: 30rem;
}

#cherif4 {
    aspect-ratio: 1 / 1;
    margin-bottom: 20rem
}

.poster {
    margin-left: 40rem;
    height: 100vh;
    /* overflow: hidden; */
}

.poster-wrapper {
    display: flex;
    height: 100vh;
    aspect-ratio: 361 / 512;
    overflow-x: hidden;
    position: relative;
    align-items: center;
}

.poster-anime-container {
    display: flex;
    height: 100%;
    position: absolute
}

.poster img {
    height: unset;
}

h2{
    color: white;
    font-family: 'Futura Renner';
    font-size: 7rem;
    width: 100%;
    text-align: center;
}

@keyframes onStart {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}